.unique-image {
    border-radius: 8%;
    width: 200px;
    height: 300px;
}

.unique-image-cont{
    display: flex;
    justify-content: center;
}

.img-container{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px,1fr)
    );
    gap:2%;
}